.vidToImages {
  text-align: center;
  padding-top: 10vh;
  flex-direction: column;
  display: flex;
  align-items: center;
}

video,
img {
  margin: 20px 0;
}
.vidToImages code {
  background: #fff3;
  padding: 4px 8px;
  border-radius: 4px;
}
.vidToImages p {
  margin: 0.4rem;
}
.vidToImages-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .vidToImages-logo {
    animation: vidToImages-logo-spin infinite 20s linear;
  }
}

.vidToImages-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.vidToImages-link {
  color: #61dafb;
}

@keyframes vidToImages-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
